body {
  margin: 0;
  background-color: rgb(246, 247, 248);
}

input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 21px;
}

textarea {
  resize: none;
}

::placeholder {
  color: rgba(209, 209, 209, 1);
}

.placeholder {
  color: rgba(209, 209, 209, 1);
}

select {
  width: 100%;
  box-sizing: border-box;
  padding-left: 12px;
  font-size: 21px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 18px;
}

.task {
  display: flex;
}

.task-wrapper {
  display: inline-block;
  margin: 110px 0px 0px 96px;
  gap: 24px;
  font-size: 16px;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.color-red {
  color: red;
}

.required-text {
  color: red;
  font-size: 12px;
  font-weight: 400;
}

.display-flex {
  display: flex;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin: 0;
}

.tasktitles {
  font-size: 20px;
}

.pixelbar {
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  height: 424px;
}

.pixelbar-mini {
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  height: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.inputfield-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 440px;
  margin-bottom: 16px;
}

.inputfield {
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
  height: 48px;
  width: 440px !important;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
}

.inputfield:focus {
  outline: none;
  border: solid 1px rgba(41, 171, 226, 1) !important;
}

.inputfield-required {
  outline: none;
  border: solid 1px rgba(255, 129, 144, 1) !important;
}

.textareafield {
  height: 120px;
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 20px;
}

.textareafield:focus {
  outline: none;
  border: solid 1px rgba(41, 171, 226, 1) !important;
}

.assigned-contact-wrapper {
  width: 440px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
  max-height: 46px;
  overflow: auto;
  scrollbar-width: 24px;
  scrollbar-color: rgba(168, 168, 168, 1) transparent;
}

.contact-icons {
  border: solid 2px white;
  width: 42px;
  height: 42px;
  border-radius: 21px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px !important;
  height: 56px !important;
  gap: 16px;
}

.button-container-section-board {
  height: 90px !important;
}

.urgentbutton {
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
  box-sizing: border-box;
  height: 56px !important;
  width: 136px !important;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
}

.urgentbutton:hover {
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);
}

.prio_icon {
  width: 20px;
  height: auto;
}

.backgroundcolorurgent {
  background-color: rgba(255, 61, 0, 1);
  border: none;
  color: white;
  border-radius: 10px;
  height: 56px;
  width: 136px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
}

.backgroundcolormedium {
  background-color: rgba(255, 168, 0, 1);
  border: none;
  color: white;
  border-radius: 10px;
  height: 56px;
  width: 136px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
}

.backgroundcolorlow {
  background-color: rgba(122, 226, 41, 1);
  border: none;
  color: white;
  border-radius: 10px;
  height: 56px;
  width: 136px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
}

.footer-container {
  margin-top: 75px;
  padding-bottom: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 945px;
}

.button-container-clear-creat {
  display: flex;
  gap: 16px;
  width: 309px;
}

.great-button {
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 10px;
  width: 183px;
  height: 56px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 21px;
  border: none;
}

.great-button:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);
}

.clear-button {
  border: solid 1px rgba(42, 54, 71, 1);
  border-radius: 10px;
  height: 56px;
  width: 110px;
  font-size: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-box {
  height: 24px;
  width: auto;
  content: url("../assets/icons/addTask/iconoir_cancel.svg");
}

.clear-button:hover .icon-box {
  content: url("../assets/icons/addTask/iconoir_cancel_hover.svg");
}

.clear-button:hover {
  border: solid 1px rgba(41, 171, 226, 1);
  box-shadow: 1px 4px rgba(0, 0, 0, 0.1);
  color: rgba(41, 171, 226, 1);
}

.subtask-inputfield {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: solid 1px rgba(209, 209, 209, 1);
  background-color: white;
  padding-right: 16px;
}

.subtask-inputfield-focus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: solid 1px rgba(41, 171, 226, 1);
  background-color: white;
  padding-right: 16px;
}

.subtask-inputfield-text:focus::placeholder {
  color: transparent;
}

.subtask-inputfield-text {
  border: none;
}

.subtask-inputfield-text:focus {
  outline: none;
}

.subtask-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.subtask-inputfield-button {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.subtask-inputfield-button:hover {
  background-color: rgba(238, 238, 238);
}

.no-hover:hover {
  background-color: none;
}

.subtask-wrapper {
  width: 440px;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: 24px;
  scrollbar-color: rgba(168, 168, 168, 1) transparent;
}

.subtask-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  min-height: 32px;
  max-width: 440px;
  border-radius: 8px;
  padding-right: 16px;
  cursor: pointer;
}

.full_with {
  flex: 1;
  max-inline-size: 440px;
  overflow-wrap: break-word;
}

li {
  inline-size: 300px;
}

.subtask-list:hover {
  background-color: rgba(238, 238, 238, 1);
  max-width: 440px !important;
}

.subtask-list-button-container {
  display: none;
  background-color: none;
}

.subtask-list-button {
  background-color: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.subtask-list:hover .subtask-list-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.pixelbar-subtask {
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  height: 24px;
}

ul {
  margin: 0;
}

.subtask-list:hover .pixelbar-subtask {
  background-color: black;
}

.subtask-list-button:hover {
  height: 26px;
}

.subtask-edit-inputfield {
  border: none;
  flex: 1;
}

.subtask-edit-inputfield:focus {
  outline: none;
}

.subtask-list-button-container-by-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.subtask-list-by-edit {
  background-color: white;
  border: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100% !important;
  height: 32px !important;
  padding-right: 16px;
  border-bottom: 1px solid rgba(41, 171, 226, 1);
}

.contact-wrapper {
  max-height: 280px;
  width: 440px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  overflow: auto;
  scrollbar-width: 24px;
  scrollbar-color: rgba(168, 168, 168, 1) transparent;
}

.catecory-wrapper {
  height: auto;
  width: 440px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  transition: all 225ms ease-in-out;
  transform-origin: top;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.9);
}

.catecory-wrapper.hidden {
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.9);
  pointer-events: none;
}

.catecory-wrapper.visible {
  max-height: 300px;
  opacity: 1;
  transform: scaleY(1);
}

.contact-wrapper::-webkit-scrollbar {
  height: 40px;
}

.contact-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.contact-wrapper::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 1);
  border-radius: 2px;
  height: 24px;
}

.contact-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 1);
}

.contactlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
  height: 56px;
  box-sizing: border-box;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
  cursor: pointer;
}

.contactlist:hover {
  background-color: rgba(209, 209, 209, 1);
}

.icon-drop-down {
  width: 24px;
  height: 24px;
}

.contact-img-cyrcle {
  width: 42px;
  height: 42px;
  border-radius: 22px;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.flex_gap_16 {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.contactlist-clicket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
  height: 56px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  cursor: pointer;
}

.display_none {
  display: none;
}

.finish-container {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: rgba(42, 54, 71, 1);
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 21px;
  position: fixed;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.1s ease-out;
}

.finish-container-activ {
  bottom: 50%;
}

input[type="date"] {
  padding: 8px;
  color: black;
}

input[type="date"]:valid {
  color: rgb(0, 0, 0);
}

.mobile_view {
  display: none;
}

.create_and_clean_btn_mobile_view {
  position: absolute;
  bottom: 100px;
  background-color: rgb(246, 247, 248);
  width: 100%;
  margin-left: 0px !important;
}

[type="date"]::-webkit-calendar-picker-indicator {
  background: #fff url(../assets/icons/addTask/typeDate.svg) 97% 50% no-repeat;
}

.column {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .task-wrapper {
    margin: 32px 0px 0px 24px;
  }

  .question_marker {
    display: none;
  }

  textarea {
    padding: 10px 0 0 10px;
  }

  .subtask-inputfield-button img {
    width: 18px;
    height: 18px;
  }

  aside {
    bottom: 0px;
    width: 100%;
    height: 80px;
    top: initial;
    position: fixed;
    padding: 10px 0 10px 0;
    align-items: center;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
  }

  .link_nav_summary a,
  .link_nav_add_task a,
  .link_nav_board a,
  .link_nav_contacts a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
    flex-direction: column;
  }

  .legal_and_policy_position {
    display: none;
  }

  .nav_position {
    width: 100%;
    flex-direction: inherit;
    margin-left: 24px;
    margin-right: 24px;
  }

  .subtask-wrapper {
    max-width: 440px;
  }

  .textareafield {
    width: 440px;
  }
}

@media only screen and (max-width: 1060px) {
  .task-wrapper {
    margin: 32px 0px 0px 24px;
  }

  .inputfield {
    width: 390px !important;
  }

  .textareafield {
    width: 390px;
  }

  .subtask-inputfield {
    width: 390px;
  }

  .button-container {
    width: 390px !important;
  }

  .inputfield-title-container {
    width: auto;
  }
  .flex-container {
    margin-top: 17px;
  }

  .footer-container {
    margin-top: 10px;
    width: 845px;
  }

  .subtask-list {
    max-width: 390px;
  }

  li {
    max-width: 250px;
  }

  .catecory-wrapper {
    max-width: 390px;
  }

  .subtask-wrapper {
    max-width: 390px;
  }

  .contact-wrapper {
    max-width: 390px;
  }

  .assigned-contact-wrapper {
    max-width: 390px;
  }

  li {
    inline-size: 270px;
  }
}

@media only screen and (max-width: 950px) {
  .inputfield {
    width: 360px;
  }

  .flex-container {
    justify-content: unset;
  }
}

@media only screen and (max-width: 900px) {
  .task {
    width: 100%;
    justify-content: space-around;
  }

  .tasktitles {
    font-size: 16px;
  }

  .flex-container {
    gap: 32px !important;
  }

  .task-wrapper {
    margin-left: 16px;
  }

  .inputfield {
    width: 285px !important;
    height: 35px;
  }

  .assigned-contact-wrapper {
    max-width: 285px;
  }

  .subtask-inputfield-text {
    font-size: 16px;
  }

  .subtask-wrapper {
    width: 285px;
  }

  .inputfield::placeholder {
    font-size: 16px;
  }

  .textareafield {
    width: 285px;
  }

  .textareafield::placeholder {
    font-size: 16px;
  }

  .contact-wrapper {
    width: 285px !important;
  }

  .contactlist-clicket {
    font-size: 16px;
  }

  input[type="date"] {
    font-size: 16px;
    padding: 8px;
    color: rgb(209, 209, 209);
  }

  .subtask-inputfield {
    width: 285px;
  }

  .button-container {
    width: 285px !important;
    gap: 4px;
  }

  .urgentbutton {
    font-size: 16px;
    height: 42px !important;
  }

  .urgent-img {
    max-height: 16px;
    max-width: 16px;
  }

  .prio_icon {
    max-height: 16px !important;
  }

  .urgentbutton img {
    width: 16px;
  }

  .great-button {
    font-size: 16px;
    height: 42px !important;
  }

  .backgroundcolorurgent,
  .backgroundcolormedium,
  .backgroundcolorlow {
    font-size: 16px;
    height: 42px !important;
  }

  .clear-button {
    font-size: 16px !important;
    height: 42px !important;
  }

  .inputfield-title-container {
    width: auto;
  }

  main {
    justify-content: center;
  }

  .subtask-list {
    max-width: 285px;
  }

  li {
    inline-size: 150px;
  }

  .footer-container {
    width: 635px;
    padding-top: 32px;
  }

  .contactlist {
    font-size: 16px;
  }

  .catecory-wrapper {
    width: 285px;
  }

  .contact-wrapper {
    width: 285px;
  }
}

@media (min-width: 300px) and (max-width: 690px) {
  .task-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    justify-self: center;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px !important;
    height: auto;
  }

  .pixelbar {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    width: 285px !important;
    margin-top: 0px;
    padding-bottom: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: center;
  }

  .button-container-clear-creat {
    justify-content: flex-start !important;
  }

  .inputfield-title-container {
    height: max-content;
    padding-bottom: 0px !important;
  }

  .task {
    flex-direction: column;
  }

  h1 {
    font-size: 47px;
  }

  .title {
    margin-top: 10px;
  }

  .tasktitles {
    font-size: 16px;
  }

  .task-wrapper {
    margin-left: 3vw;
    margin-top: 8px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputfield {
    width: 285px !important;
    height: 35px;
  }

  .inputfield::placeholder {
    font-size: 16px;
  }

  .textareafield {
    width: 285px;
  }

  .textareafield::placeholder {
    font-size: 16px;
  }

  .subtask-inputfield {
    width: 285px;
    height: 35px;
  }

  .subtask-edit-inputfield {
    font-size: 16px;
  }

  input[type="date"] {
    font-size: 16px;
    padding: 8px;
    color: rgb(209, 209, 209);
  }

  .button-container {
    width: 285px !important;
    height: 35px;
    justify-content: space-between;
  }

  .urgentbutton {
    font-size: 16px;
    height: 42px !important;
  }

  .urgentbutton img {
    width: 16px;
  }

  .great-button {
    font-size: 16px;
    height: 42px !important;
    width: 150px;
  }

  .clear-button {
    font-size: 16px !important;
    height: 42px !important;
  }

  .backgroundcolorurgent,
  .backgroundcolormedium,
  .backgroundcolorlow {
    font-size: 16px;
    height: 42px !important;
  }

  .scroll {
    overflow-y: scroll;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .button-container-clear-creat {
    box-sizing: border-box;
    padding: 8px 20px 10px 0;
    display: flex;
    justify-content: end;
  }

  .button-container-clear-creat:hover {
    background-color: none;
  }

  .subtask-wrapper {
    width: 285px;
    gap: 5px;
    min-height: 25px;
    padding-bottom: 20px;
  }

  .catecory-wrapper {
    width: 285px;
  }

  .contactlist {
    font-size: 16px;
  }

  .contact-wrapper {
    width: 285px;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    background: #fff url(../assets/icons/addTask/typeDate.svg) 20% 50% no-repeat;
    background-size: 20px 20px;
  }

  .create_and_clean_btn_mobile_view {
    bottom: 12px;
    width: 100%;
  }

  .space_for_subtask {
    height: auto;
    padding-bottom: 130px;
    display: flex;
  }

  .subtask-list-button-container img {
    background-color: none;
  }

  .pixelbar-subtask {
    margin: 0 3px 0 3px;
  }

  main {
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .task-wrapper {
    margin-left: 2vw;
  }
}
