aside {
  position: absolute;
  left: 0;
  width: 232px;
  height: calc(100vh - 128px);
  background-color: rgb(42, 54, 71);
  color: rgb(168, 168, 168);
  z-index: 2;
  padding-top: 64px;
  padding-bottom: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.join_logo {
  width: 100px;
  height: 122px;
}

.nav_position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 52px;
  height: 229px;
  width: 232px;
}

.nav_position img {
  width: 30px;
  height: 30px;
}

.nav_position a {
  color: rgb(224, 226, 229);
  display: flex;
  align-items: center;
  gap: 15px;
  height: 46px;
  width: 100%;
  transition: 0.125ms ease-in-out;
}

/* test hover effect color (42, 61, 89), color for active click (9, 25, 49) */
.nav_position a:hover {
  background-color: rgb(42, 61, 89);
  height: 46px;
  width: 232px;
  left: -52px;
  padding-left: 52px;
  position: relative;
}

.logo_position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal_notes_position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 52px;
  gap: 8px;
}

.legal_notes_position a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(144, 147, 150);
  padding: 8px;
}

.legal_notes_position a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(11, 140, 233);
  padding: 8px;
  font-weight: bolder;
}

/* Parent class for the privacy_policy.html  */
.privacy_policy .nav_position {
  height: 390px;
}

.privacy_policy aside {
  position: fixed;
}
