main {
  overflow: auto;
}

h1 {
  font-size: 61px;
}

h3 {
  color: rgb(66, 82, 110);
}

h5 {
  margin: 13px 0px 3px;
}

.title_and_searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search_bar {
  display: flex;

  gap: 4rem;
}

#searchbar {
  border: 1px solid;
  border-color: rgba(168, 168, 168);
  border-radius: 10px;
  height: 48px;
  width: 300px;
  background-image: url(../assets/icons/board/magnifying.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  box-sizing: border-box;
}

input::placeholder {
  font-size: larger;
  padding: 10px;
  background-image: url(../assets/icons/board/vector.svg);
  background-repeat: no-repeat;
  background-position: left 224px center;
}

.add_btn {
  background-image: url(../assets/icons/board/add.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 40px;
  width: 160px;
  background-color: rgb(42, 54, 71);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.add_btn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 5px 5px 0 rgba(104, 104, 104, 0.301);
  transform: scale(1);
}

.board_container {
  display: flex;
  flex-direction: column;
  padding: 120px;
}

.board_content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.board_column {
  display: flex;
  align-items: center;
  width: 20rem;
  white-space: nowrap;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plus_button {
  background-image: url(../assets/icons/board/plus_button.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}

.plus_button:hover {
  background-image: url(../assets/icons/board/plus_button_hover.svg);
}

.to_do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border: 1px, transparent;
  box-shadow: 1px 1px 6px #838282;
  border-radius: 18px;
  height: 15rem;
  width: 300px;
  padding: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.no_task {
  background-color: rgba(231, 231, 231, 0.432);
  border: 1.8px solid;
  border-style: dashed;
  border-color: rgb(168, 168, 168);
  color: rgb(168, 168, 168);
  box-shadow: 0 3px 3px 0 rgba(104, 104, 104, 0.048);
  border-radius: 12px;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toDo,
#progress,
#feedback,
#done {
  width: 100%;
  height: 100vh;
}

.display_none {
  display: none;
}

#box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 760px;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 25px;
  z-index: 999;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
