main {
  overflow: auto;
}

h1 {
  font-size: 61px;
  margin: 0;
}

h3 {
  color: rgb(66, 82, 110);
}

h5 {
  margin: 13px 0px 3px;
}

.mobile_logo {
  display: none;
}

.title_and_searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search_bar {
  display: flex;

  gap: 4rem;
}

#searchbar {
  border: 1px solid;
  border-color: rgba(168, 168, 168);
  border-radius: 10px;
  height: 48px;
  width: 300px;
  background-image: url(../assets/icons/board/magnifying.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  box-sizing: border-box;
}

input::placeholder {
  font-size: larger;
  padding: 10px;
  background-image: url(../assets/icons/board/vector.svg);
  background-repeat: no-repeat;
  background-position: left 224px center;
}

.add_btn {
  background-image: url(../assets/icons/board/add.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 40px;
  width: 160px;
  background-color: rgb(42, 54, 71);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.add_btn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 5px 5px 0 rgba(104, 104, 104, 0.301);
  transform: scale(1);
}

.board_container {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 96px;
}

.board_content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.board_column {
  display: flex;
  align-items: center;
  width: 20rem;
  white-space: nowrap;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plus_button {
  background-image: url(../assets/icons/board/plus_button.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}

.plus_button:hover {
  background-image: url(../assets/icons/board/plus_button_hover.svg);
}

.to_do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border: 1px, transparent;
  box-shadow: 1px 1px 6px #838282;
  border-radius: 18px;
  height: 15rem;
  width: 300px;
  padding: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.no_task {
  background-color: rgba(231, 231, 231, 0.432);
  border: 1.8px solid;
  border-style: dashed;
  border-color: rgb(168, 168, 168);
  color: rgb(168, 168, 168);
  box-shadow: 0 3px 3px 0 rgba(104, 104, 104, 0.048);
  border-radius: 12px;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toDo,
#progress,
#feedback,
#done {
  width: 100%;
  height: 100vh;
}

.display_none {
  display: none;
}

#box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 760px;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 25px;
  z-index: 999;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hide {
  display: none;
}

.mobile_head {
  display: none;
}

.dekstop_view {
  display: inline;
}

.grabbing {
  cursor: grabbing;
}

@media only screen and (max-width: 1600px) {
  .board_column {
    width: 14.5rem;
  }

  .board_content {
    gap: 1rem;
  }

  .progress_container {
    max-width: 160px;
  }

  .card {
    width: 206px;
  }

  #box {
    left: 57%;
  }
}

@media only screen and (max-width: 1300px) {
  .board_column {
    width: 12.5rem;
  }

  .add_btn {
    width: 123px;
  }

  #searchbar {
    height: 40px;
    width: 290px;
  }

  .search_bar {
    gap: 3rem;
  }

  h1 {
    font-size: 49px;
  }

  h3 {
    font-size: 14px !important;
  }

  .card {
    width: 172px;
    margin: 5px 5px 0 5px;
  }

  aside {
    width: 220px;
  }

  .nav_position a {
    font-size: 16px;
  }

  #box {
    left: 59%;
  }
}

@media only screen and (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .question_marker_account_img_position a {
    display: none;
  }

  .nav_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
  }

  .link_nav_summary a,
  .link_nav_add_task a,
  .link_nav_board a,
  .link_nav_contacts a {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mobile_logo {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .mobile_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 22px;
    align-items: center;
  }

  .dekstop_view {
    display: none;
  }

  .title_and_searchbar {
    flex-direction: column;
  }

  .title_and_searchbar h1 {
    flex-direction: column;
  }

  .search_bar {
    display: inline-block;
    width: 100%;
  }

  #searchbar {
    width: 100%;
  }

  .add_btn {
    color: transparent;
    width: 34px;
    background-position: center;
    height: 42px;
  }

  .board_container {
    padding-left: 22px;
    padding-right: 22px;
  }

  #toDo,
  #progress,
  #feedback,
  #done {
    height: 300px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #toDo::-webkit-scrollbar,
  #progress::-webkit-scrollbar,
  #feedback::-webkit-scrollbar,
  #done::-webkit-scrollbar {
    display: none;
  }

  .board_content {
    flex-direction: column;
    display: flex;
  }

  h3 {
    font-weight: bolder !important;
    font-size: 20px !important;
  }

  .board_column {
    width: 100%;
  }

  .card {
    min-width: 197px !important;
  }

  .grabbing {
    cursor: grabbing;
  }
}
