.privacy {
  display: flex;
  background-color: rgb(246, 247, 248);
}
.content {
  display: inline-block;
  padding-top: 110px;
  padding-left: 96px;
  font-size: 16px;
}

.nav_position_login {
  position: relative;
  bottom: 180px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_position_login a {
  color: rgb(205, 205, 205) !important;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 46px;
}

.legal {
  display: flex;
  background-color: rgb(246, 247, 248);
}

.legal-content {
  display: inline-block;
  margin: 100px 90px 0px 100px;
  gap: 24px;
  font-size: 16px;
}

.h1-content-titles {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.links {
  color: rgba(41, 171, 226, 1);
  text-decoration: none;
}

h1 {
  font-size: 61px;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

a {
  color: rgba(41, 171, 226, 1);
}

.nav_position_login:hover {
  transition: 125ms ease-in-out;
  background-color: rgb(42, 61, 89);
}
