@font-face {
  font-family: FigTreeFont;
  src: url(../assets/fonts/Figtree/static/Figtree-Bold.ttf) format("woff2"), url(../assets/fonts/Figtree/static/Figtree-Light.ttf) format("woff");
}

body {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-family: FigTreeFont, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
