.greetings_position {
  position: absolute;
  width: 385px;
  height: 136px;
  top: 505px;
  left: 968px;
}

.greetings_position p {
  font-size: 47px;
  font-weight: 500;
  color: rgb(42, 54, 71);
}

.account_name {
  font-size: 64px;
  font-weight: 700;
  color: rgb(41, 171, 226);
}

.dashboard {
  position: absolute;
  width: 560px;
  height: 562px;
  top: 335px;
  left: 328px;
}

.dashboard_img_size {
  height: 69px;
  width: 69px;
}

.to_do_and_done {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 168px;
  gap: 18px;
}

.box_to_do {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 264px;
  height: 168px;
  border-radius: 30px;
  gap: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_to_do:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_done {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 264px;
  height: 168px;
  border-radius: 30px;
  gap: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_done:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_to_do:hover .dashboard_img_size_pen {
  content: url("../assets/icons/summary/pen_hover.svg");
}

.box_done:hover .dashboard_img_size_hook {
  content: url("../assets/icons/summary/hook_hover.svg");
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box_number_size {
  font-size: 64px;
  font-weight: 600;
}

.box_text_size {
  font-size: 20px;
  font-weight: 400;
}

.urgency_summary {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 168px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin-top: 28px;
  margin-bottom: 28px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.urgency_summary:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.025);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_urgency_summary {
  display: flex;
  align-items: center;
  gap: 61px;
}

.img_and_text_summary {
  display: flex;
  align-items: center;
  gap: 13px;
}

.line_urgency {
  border-left: 2px solid rgb(209, 209, 209);
  height: 102.02px;
}

.date_text_deadline_gap {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.date_deadline {
  font-size: 21px;
  font-weight: 700;
}

.text_deadline {
  font-size: 16px;
  font-weight: 400;
}

.tasks_info {
  display: flex;
  justify-content: space-between;
  height: 168px;
  border-radius: 30px;
}

.box_tasks_in_board {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_tasks_in_board:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_tasks_in_progress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_tasks_in_progress:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_awating_feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_awating_feedback:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mobile_logo {
  display: none;
}

@media only screen and (max-width: 1350px) {
  .greetings_position {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .question_marker_account_img_position a {
    display: none;
  }

  .greetings_position {
    display: flex;
    top: 400px;
    left: 500px;
  }

  .mobile_logo {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .header_standard_position {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    padding-top: 32px;
    padding-left: 24px;
  }

  .line {
    display: none;
  }

  .line_responsive {
    border-top: 3px solid rgb(41, 171, 226);
    width: 90px;
    height: 0;
  }

  .legal_and_policy_position {
    display: none;
  }

  .dashboard {
    height: 384px;
    width: 396px;
    left: 24px;
    top: 320px;
  }

  .dashboard_img_size_pen,
  .dashboard_img_size_hook,
  .dashboard_img_size {
    height: 40px;
    width: 40px;
  }

  .box_number_size {
    font-weight: 600;
    font-size: 47px;
  }

  .to_do_and_done {
    height: auto;
  }

  .box_to_do {
    width: 186px;
    height: 110px;
  }

  .box_done {
    width: 186px;
    height: 110px;
  }

  .urgency_summary {
    width: 396px;
    height: 110px;
  }

  .box_urgency_summary {
    gap: 20px;
  }

  .line_urgency {
    height: 68px;
  }

  .logo_position {
    display: none;
  }

  .nav_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
  }

  .link_nav_summary a,
  .link_nav_add_task a,
  .link_nav_board a,
  .link_nav_contacts a {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .box_tasks_in_board,
  .box_tasks_in_progress,
  .box_awating_feedback {
    height: 110px;
    width: 116px;
  }

  .box_text_size {
    font-weight: 400;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .greetings_position {
    display: flex;
    top: 440px;
    left: 450px;
    width: 300px;
  }

  .greetings_position p {
    font-size: 32px;
  }

  .account_name {
    font-size: 47px;
  }
}

@media only screen and (max-width: 900px) {
  .greetings_position {
    display: none;
  }
}
